name: Test & push
on:
  workflow_call:
    inputs:
      service:
        required: false
        type: string
        default: backend
      project:
        required: false
        type: string
      targets:
        required: false
        type: string
      versions:
        required: false
        type: string
      compose_file:
        required: false
        type: string
        default: testing.yaml
      test_args:
        required: false
        type: string
        default: -- --verbose --junitxml=/testing/junit.xml
      artifacts:
        required: false
        type: string
      build_args:
        required: false
        type: string
        default: .
env:
  COMPOSE_FILE: ${{ inputs.compose_file }}
jobs:
  test-and-push:
    name: Test and push docker images
    runs-on: zon-ubuntu-general-dind
    permissions:
      id-token: write
      contents: write
      checks: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
          submodules: true
      # build images, run tests and handle artifacts
      - name: Run tests
        run: |
          docker compose run --build --rm ${{ inputs.service }} ${{ inputs.test_args }}
      - name: Publish test result
        uses: enricomi/publish-unit-test-result-action@c950f6fb443cb5af20a377fd0dfaa78838901040 # v2
        if: always()
        with:
          junit_files: testing/junit.xml
          comment_mode: "off"
      - name: Extract build artifacts
        if: inputs.artifacts
        run: |
          docker compose run --rm --entrypoint "tar cvv ${{ inputs.artifacts }}/" ${{ inputs.service }} | tar x
      - name: Store build artifacts
        if: inputs.artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: artifacts
          path: ${{ inputs.artifacts }}*
      # set up variables and auth
      - name: Set variables
        id: vars
        run: |
          input="${{ inputs.project }}"
          repository="${{ github.repository }}"
          default="${repository##*/}"
          project="${input:-$default}"
          echo "project=$project" >> "$GITHUB_ENV"
          echo "prefix=${{ vars.GAR_DOCKER_REGISTRY }}/$project" >> "$GITHUB_ENV"
          echo "describe=$( git describe --tags )" >> "$GITHUB_ENV"
      - name: Setup auth
        id: baseproject
        uses: ZeitOnline/gh-action-baseproject@v0
        if: inputs.targets
        with:
          project_name: ${{ env.project }}
          environment: production     # needs 'production' service account
          gar_docker_auth: true
      # build & publish images
      - name: Publish images
        if: inputs.targets
        run: |
          for target in ${{ inputs.targets }}; do
            tag="${{ env.prefix }}-$target:${{ env.describe }}"
            docker build --target $target --tag $tag ${{ inputs.build_args }}
            docker push $tag
          done
      # update image versions for 'staging'
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6
        if: ${{ inputs.versions }}
        with:
          gpg_private_key: ${{ secrets.ZON_OPS_GPG_KEY_PRIVATE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@2ba527d4d055ab63514ba50a99456fc35684947f # v2
        if: ${{ inputs.versions }}
      - name: Pull recent changes
        if: ${{ inputs.versions }}
        run: |
          git pull
      - name: Set image tags
        if: ${{ inputs.versions }}
        run: |
          cd ${{ inputs.versions }}
          for target in ${{ inputs.targets }}; do
            kustomize edit set image $target:${{ env.describe }}
          done
      - name: Commit and push image tags
        if: ${{ inputs.versions }}
        run: |
          git commit -am "ci: update image versions (``${{ inputs.versions }}``)"
          git push
