name: Test commit messages
on:
  workflow_call:
    inputs:
      configFile:
        description: "The path to your commitlint config file"
        required: false
        type: string
        default: "commitlint.config.mjs"
      failOnWarnings:
        description: "Whether you want to fail on warnings or not"
        required: false
        type: boolean
        default: false
      failOnErrors:
        description: "Whether you want to fail on errors or not"
        required: false
        type: boolean
        default: true
      helpURL:
        description: "Link to a page explaining your commit message convention"
        required: false
        type: string
        default: "https://github.com/conventional-changelog/commitlint/#what-is-commitlint"
      commitDepth:
        description: "When set to a valid Integer value - X, considers only the latest X number of commits"
        required: false
        type: number
jobs:
  commitlint:
    name: Commit-Lint
    runs-on: zon-ubuntu-general-dind
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: wagoid/commitlint-github-action@b948419dd99f3fd78a6548d48f94e3df7f6bf3ed # v6
        with:
          configFile: ${{ inputs.configFile }}
          failOnWarnings: ${{ inputs.failOnWarnings }}
          failOnErrors: ${{ inputs.failOnErrors }}
          helpURL: ${{ inputs.helpURL }}
          commitDepth: ${{ inputs.commitDepth }}
