name: K8s validation
on:
  workflow_call:
    inputs:
      environments:
        description: "space-separated list of environments to validate (e.g. 'staging production')"
        default: "staging production"
        required: false
        type: string
jobs:
  validate:
    name: Validate manifests
    runs-on: zon-ubuntu-general-dind
    permissions:
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Set up kubectl
      uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede # v4
    - name: Generate manifests
      run: |
        mkdir manifests
        for env in ${{ inputs.environments }}; do
          kubectl kustomize k8s/$env > manifests/$env.yaml
        done
    - name: Validate manifests
      uses: instrumenta/kubeval-action@master
      with:
        files: manifests
