name: Check code issues
on:
  workflow_call:
    inputs:
      node-version:
        description: "Run setup-node with this version"
        type: string
        default: "24"
      setup-command:
        description: "Optional command to set up plugins etc"
        type: string
jobs:
  linter:
    name: Lefthook
    runs-on: zon-ubuntu-general-dind
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install `uv`
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{inputs.node-version}}
      - name: Run setup command
        if: inputs.setup-command
        run: ${{ inputs.setup-command }}
      - name: Run code checks
        run: uvx lefthook run pre-commit --all-files
