name: Check code issues
on:
  workflow_call:
    inputs:
      node-version:
        description: "Run setup-node with this version"
        type: string
        default: "24"
      setup-command:
        description: "Optional command to set up plugins etc"
        type: string
      uv-options:
        description: "Optional arguments to pass to `uv run`"
        type: string
jobs:
  linter:
    name: Lefthook
    runs-on: zon-ubuntu-general-dind
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install `uv`
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{inputs.node-version}}
      - name: Run setup command
        if: inputs.setup-command
        run: ${{ inputs.setup-command }}
      - name: Run code checks
        run: uv run ${{ inputs.uv-options }} lefthook run pre-commit --all-files
