name: Check code issues
on:
  workflow_call:
    inputs:
      node-version:
        description: "Optionally install Node.js with the given version"
        type: string
      setup-command:
        description: "Optional command to set up tools, plugins etc"
        type: string
        default: "uv sync --frozen --only-group lint"
jobs:
  linter:
    name: Lefthook
    runs-on: zon-ubuntu-general-dind
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install `uv`
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          activate-environment: true
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        if: inputs.node-version
        with:
          node-version: ${{inputs.node-version}}
      - name: Run setup command
        run: ${{ inputs.setup-command }}
      - name: Run code checks
        run: lefthook run pre-commit --all-files
