name: Build nightwatch tests

# ### Example usage `nightwatch.yaml`
# on:
#   push:
#     branches:
#       - main
#     paths:
#       - '.github/workflows/nightwatch.yaml'
#       - 'smoketest/**'
#       - '!smoketest/k8s/versions/*'
#   pull_request:
#     paths:
#       - '.github/workflows/nightwatch.yaml'
#       - 'smoketest/**'
#       - '!smoketest/k8s/versions/*'
# jobs:
#   build:
#     uses: zeitonline/gh-action-workflows/.github/workflows/nightwatch-build.yaml@XXX
#     secrets: inherit
#     with:
#       versions: smoketest/k8s/versions
#       k8s_base: smoketest/k8s
#       project: MYPROJECT
#       environment: staging
#       gke_cluster: my-cluster

on:
  workflow_call:
    inputs:
      project:
        required: false
        type: string
      environment:
        required: false
        type: string
        default : staging
      gke_cluster:
        required: false
        type: string
      args:
        required: false
        type: string
        default: |
          --override-type=json --overrides='[
            {"op": "add", "path": "/spec/serviceAccount", "value": "baseproject"},
            {"op": "add", "path": "/spec/containers/0/envFrom", "value": [{
                "secretRef": {"name": "nightwatch-secrets", "optional": true}}]}
          ]'
      versions:
        description: directory in which to run `kustomize edit set-image`
        required: false
        type: string
      k8s_base:
        description: directory that contains a k8s manifest containing the final image name
        required: false
        type: string
        default: k8s
    outputs:
      tag:
        description: "Tag of built 'nightwatch' image"
        value: ${{ jobs.build.outputs.tag }}
jobs:
  build:
    name: Build docker image
    runs-on: zon-ubuntu-general-dind
    permissions:
      id-token: write
      contents: write
      checks: write
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          token: ${{ secrets.PRIVATE_REPO_ACCESS_PAT }}
      - name: Set tag
        id: tag
        run: date +tag=%Y%m%d%H%M%S >> "$GITHUB_OUTPUT"
      - name: Set variables
        id: vars
        run: |
          input="${{ inputs.project }}"
          repository="${{ github.repository }}"
          default="${repository##*/}"
          project="${input:-$default}"
          echo "project=$project" >> "$GITHUB_ENV"
          echo "image=$( kustomize build ${{inputs.k8s_base}}/${{ inputs.environment }} | awk -F: '/image: .*nightwatch/ { print $2 }' | tr -d ' '" >> "$GITHUB_ENV"
          echo "tag=${{ steps.tag.outputs.tag }}" >> "$GITHUB_ENV"
      - name: Setup auth
        uses: ZeitOnline/gh-action-baseproject@v0
        id: baseproject
        with:
          project_name: ${{ env.project }}
          environment: ${{ inputs.environment }}
          gke_auth: true
          gke_cluster: ${{ inputs.gke_cluster || inputs.environment }}
          google_auth: true
          gar_docker_auth: true
          vault_export_token: true
      - name: Build & push image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: smoketest
          target: nightwatch
          tags: ${{ env.image }}:${{ env.tag }}
          push: true
          secrets: |
            GCLOUD_TOKEN=${{ steps.baseproject.outputs.gcloud_access_token }}
      - uses: ZeitOnline/sysdig-scan-action@6ce72f92e0cb5c80ff798ec3807ee2d829c70b64 # v1.2.0
        if: github.ref_name != 'main'
        with:
          gha_vault_role: ${{steps.baseproject.outputs.gha_vault_role}}
          image_tag: ${{ env.image }}:${{ env.tag }}
      - name: Run tests
        if: github.ref_name != 'main'
        run: |
          TAG=${{ env.tag }}
          kubectl config set-context --current --namespace=${{ env.project }}
          kubectl run nightwatch-test-$TAG --image=${{ env.image }}:$TAG --restart=Never ${{ inputs.args }}
          kubectl wait --for=condition=Ready --timeout=120s pods/nightwatch-test-$TAG
          kubectl logs --follow pods/nightwatch-test-$TAG
          sleep 10
          status=$( kubectl get -o template --template='{{.status.phase}}' pods/nightwatch-test-$TAG )
          kubectl delete pods/nightwatch-test-$TAG
          test "$status" = "Succeeded"
      - name: Pull recent changes
        if: ${{ inputs.versions && github.ref_name == 'main' }}
        run: |
          git pull
      - name: Set image tags
        if: ${{ inputs.versions && github.ref_name == 'main' }}
        run: |
          cd ${{ inputs.versions }}
          kustomize edit set image nightwatch:${{ env.tag }}
      - name: Commit and push image tags
        if: ${{ inputs.versions && github.ref_name == 'main' }}
        run: |
          git commit -am "ci: update image versions (``${{ inputs.versions }}``)"
          git push
