name: Notify slackbot of release
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      version:
        required: true
        type: string
      project:
        required: false
        type: string
      changelog:
        required: false
        type: string
        default: CHANGELOG.md
      emoji:
        required: false
        type: string
        default: loudspeaker
      prometheus_job:
        required: false
        type: string
        default: gha-deployments
jobs:
  notify:
    name: Notify slackbot & prometheus
    runs-on: zon-ubuntu-general-dind

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Set variables
        id: vars
        run: |
          input="${{ inputs.project }}"
          repository="${{ github.repository }}"
          default="${repository##*/}"
          project="${input:-$default}"
          echo "project=$project" >> "$GITHUB_ENV"

      - name: Baseproject
        id: baseproject
        uses: ZeitOnline/gh-action-baseproject@v0
        with:
            project_name: ${{ env.project }}
            environment: production

      - name: Retrieve secrets from Vault
        id: vault-secrets
        uses: hashicorp/vault-action@4c06c5ccf5c0761b6029f56cfb1dcf5565918a3b # v3.4.0
        with:
            method: jwt
            url: ${{ steps.baseproject.outputs.vault_addr }}
            path: ${{ steps.baseproject.outputs.gha_vault_path }}
            role: ${{ steps.baseproject.outputs.gha_vault_role }}
            secrets: |
                zon/v1/slack/hackbot HOOK_TOKEN;

      - name: Post release in slack channel
        uses: fjogeleit/http-request-action@bf78da14118941f7e940279dd58f67e863cbeff6 # v1
        with:
            url: "https://hackbot.zon.zeit.de/${{ steps.vault-secrets.outputs.HOOK_TOKEN }}/deployment/releases"
            method: 'POST'
            customHeaders: '{"Content-Type": "application/json"}'
            data: '{"project": "${{ env.project }}", "environment": "${{ inputs.environment }}",
                "version": "${{ inputs.version }}", "emoji": "${{ inputs.emoji }}",
                "vcs_url": "${{ github.server_url }}/${{ github.repository }}/releases/tag/${{ inputs.version }}",
                "changelog_url": "${{ github.server_url }}/${{ github.repository }}/blob/main/${{ inputs.changelog }}"}'

      - name: Post release time to prometheus
        if: inputs.prometheus_job
        run: |
          (
            echo '# HELP gha_deployments'
            echo '# TYPE gha_deployments gauge'
            echo 'gha_deployments{environment="${{ inputs.environment }}",project="${{ env.project }}",version="${{ inputs.version }}"}' $( date +%s )
          ) | curl --silent --data-binary @- http://pushgateway.cluster-infra.svc.cluster.local:9091/metrics/job/${{ inputs.prometheus_job }}-${{ env.project }}
